{
  "openapi": "3.1.0",
  "info": {
    "title": "CC98 API",
    "version": "0.1.0-alpha.0",
    "description": "根据 CC98 前端调用与真实接口响应维护的公共 API 契约。",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "CC98 前端维护者",
      "url": "https://github.com/shellRaining/cc98/issues"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.cc98.org",
      "description": "CC98 正式 API"
    }
  ],
  "security": [
    {
      "CC98_ACCESS_TOKEN": [],
      "x-apifox": {
        "schemeGroups": [
          {
            "id": "cc98AccessToken",
            "schemeIds": ["CC98_ACCESS_TOKEN"]
          }
        ],
        "required": true,
        "use": {
          "id": "cc98AccessToken",
          "configs": {
            "CC98_ACCESS_TOKEN": {
              "authConfigs": {
                "x-apifox": {
                  "token": "{{CC98_ACCESS_TOKEN}}"
                }
              }
            }
          }
        },
        "scopes": {
          "cc98AccessToken": {
            "CC98_ACCESS_TOKEN": []
          }
        }
      }
    }
  ],
  "paths": {
    "/config/global": {
      "get": {
        "operationId": "getConfigGlobal",
        "summary": "获取论坛全局配置",
        "description": "返回论坛运行状态、全站统计、公告、签到和生日活动等全局配置。后端可能省略部分字段或返回额外字段。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取论坛全局运行配置与统计信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/announcement": {
      "put": {
        "operationId": "putConfigGlobalAnnouncement",
        "summary": "更新全站公告",
        "description": "更新 `/config/global` 和首页聚合数据中展示的全站公告。需要站点管理权限。",
        "tags": ["Config", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putConfigGlobalAnnouncement",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putConfigGlobalAnnouncement",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putConfigGlobalAnnouncement": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "announcement": {
                    "type": "string",
                    "description": "新的全站公告内容，使用 CC98 UBB 格式。"
                  }
                },
                "required": ["announcement"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "公告更新成功"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/advertisement": {
      "get": {
        "operationId": "getConfigGlobalAdvertisement",
        "summary": "获取首页 Banner",
        "description": "返回当前访问者可见的首页 Banner。服务端根据启用状态、过期时间和登录状态筛选配置项。",
        "tags": ["Config", "Index"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取当前可展示的首页 Banner 列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/advertisement/all": {
      "get": {
        "operationId": "getConfigGlobalAdvertisementAll",
        "summary": "获取全部首页 Banner 配置",
        "description": "供站点管理页面读取全部首页 Banner 配置，包括已停用、过期或仅对特定登录状态可见的记录。",
        "tags": ["Config", "Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getConfigGlobalAdvertisementAll",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getConfigGlobalAdvertisementAll",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getConfigGlobalAdvertisementAll": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部首页 Banner 配置",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/special-offer/all": {
      "get": {
        "operationId": "getConfigGlobalSpecialOfferAll",
        "summary": "获取全部福利优惠配置",
        "description": "供站点管理页面读取全部福利优惠配置，包括已停用、过期或仅对特定登录状态可见的记录。",
        "tags": ["Config", "Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getConfigGlobalSpecialOfferAll",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getConfigGlobalSpecialOfferAll",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getConfigGlobalSpecialOfferAll": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部福利优惠配置",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/alltag": {
      "get": {
        "operationId": "getConfigGlobalAlltag",
        "summary": "获取全部全局标签",
        "description": "返回主题分类和筛选使用的全局标签字典。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全局标签 ID 与名称列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/now": {
      "get": {
        "operationId": "getConfigNow",
        "summary": "获取服务器时间",
        "description": "返回论坛服务器当前时间。签到和补签页面使用该时间确定当前日期，避免客户端时钟或时区差异影响月份和日期判断。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取服务器当前时间",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTimeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/index": {
      "get": {
        "operationId": "getConfigIndex",
        "summary": "获取首页聚合数据",
        "description": "返回论坛首页一次展示所需的聚合数据，包括公告、自动和人工热门主题、推荐栏目、分类主题及全站统计。后端可能省略暂时没有内容的栏目。",
        "tags": ["Index"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "首页公告、热门主题、运营栏目、分类主题和论坛统计",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/index/update": {
      "put": {
        "operationId": "putConfigIndexUpdate",
        "summary": "刷新首页聚合缓存",
        "description": "清除并刷新首页聚合数据缓存，使公告和首页栏目等配置更新尽快生效。需要站点管理权限。",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putConfigIndexUpdate",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putConfigIndexUpdate",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putConfigIndexUpdate": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "首页聚合缓存刷新请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/{columnKind}/all": {
      "get": {
        "operationId": "getIndexColumnColumnKindAll",
        "summary": "获取首页栏目全部配置",
        "description": "供站点管理页面读取指定首页栏目的全部配置，包括当前未启用的项目。",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getIndexColumnColumnKindAll",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getIndexColumnColumnKindAll",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getIndexColumnColumnKindAll": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "columnKind",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "const": "recommandationreading"
                },
                {
                  "type": "string",
                  "const": "recommandationfunction"
                },
                {
                  "type": "string",
                  "const": "schoolnews"
                }
              ],
              "description": "栏目类型：recommandationreading 为推荐阅读，recommandationfunction 为推荐功能，schoolnews 为校园新闻。"
            },
            "required": true,
            "description": "栏目类型：recommandationreading 为推荐阅读，recommandationfunction 为推荐功能，schoolnews 为校园新闻。"
          }
        ],
        "responses": {
          "200": {
            "description": "指定首页栏目的全部配置项",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/": {
      "post": {
        "operationId": "postIndexColumn",
        "summary": "创建首页栏目配置项",
        "description": "创建推荐阅读、推荐功能、校园新闻、Banner 或福利优惠等首页栏目配置项。需要站点管理权限。",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-postIndexColumn",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-postIndexColumn",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-postIndexColumn": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexColumn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "首页栏目配置项创建请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/{id}": {
      "put": {
        "operationId": "putIndexColumnId",
        "summary": "修改首页栏目配置项",
        "description": "修改指定首页栏目配置项的内容、链接、图片、排序、有效期、启用状态或可见范围。需要站点管理权限。",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putIndexColumnId",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putIndexColumnId",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putIndexColumnId": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "需要修改的首页栏目配置项 ID。"
            },
            "required": true,
            "description": "需要修改的首页栏目配置项 ID。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexColumn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "首页栏目配置项修改请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/all-user-title": {
      "get": {
        "operationId": "getConfigGlobalAllUserTitle",
        "summary": "获取全部用户头衔",
        "description": "返回用户头衔定义，用于匹配用户资料中的 displayTitleId 和 userTitleIds。",
        "tags": ["Config", "User"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部用户头衔定义",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayTitle"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/all": {
      "get": {
        "operationId": "getBoardAll",
        "summary": "获取全部版面分组",
        "description": "返回论坛版面导航使用的全部一级分组，以及每个分组下的版面概要。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部版面分组及版面概要",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/": {
      "get": {
        "operationId": "getBoard",
        "summary": "批量获取指定版面",
        "description": "批量查询一个或多个版面，返回值字段与 /board/{boardId} 相同。适合已有多个版面 ID 时一次补齐收藏、主题记录等列表中的版面资料，避免逐个请求。不存在的 ID 会被忽略，全部 ID 均不存在时返回 404；调用方应按 id 关联结果，不应依赖响应顺序。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              },
              "description": "要查询的版面 ID，可重复传入多个 id 参数；重复的 ID 只返回一次。"
            },
            "required": true,
            "description": "要查询的版面 ID，可重复传入多个 id 参数；重复的 ID 只返回一次。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取至少一个匹配的版面详情列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/search": {
      "get": {
        "operationId": "getBoardSearch",
        "summary": "搜索版面",
        "description": "按关键词搜索版面名称和版面简介，返回匹配的版面概要。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "schema": {
              "type": "string",
              "description": "在版面名称或简介中搜索的关键词。"
            },
            "required": true,
            "description": "在版面名称或简介中搜索的关键词。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取名称或简介匹配关键词的版面",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardSummary"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}": {
      "get": {
        "operationId": "getBoardBoardId",
        "summary": "获取版面详情",
        "description": "查询单个版面并直接返回一个 Board 对象；需要同时查询多个版面时应使用 /board/ 批量接口，两者返回相同的版面字段。本接口包含版面公告、简介、统计、访问限制和当前访问者能力，登录后还会包含是否已关注等用户相关状态。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询的版面 ID。"
            },
            "required": true,
            "description": "要查询的版面 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取版面详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/topic": {
      "get": {
        "operationId": "getBoardBoardIdTopic",
        "summary": "获取版面主题列表",
        "description": "按偏移量分页返回指定版面的普通主题列表；置顶主题由独立接口提供。需要登录。",
        "tags": ["Board", "Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getBoardBoardIdTopic",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getBoardBoardIdTopic",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getBoardBoardIdTopic": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询主题的版面 ID。"
            },
            "required": true,
            "description": "要查询主题的版面 ID。"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number",
              "description": "主题列表的起始偏移量。"
            },
            "required": true,
            "description": "主题列表的起始偏移量。"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number",
              "description": "本次请求的主题数量。"
            },
            "required": true,
            "description": "本次请求的主题数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取当前页的版面主题",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postBoardBoardIdTopic",
        "summary": "创建版面主题",
        "description": "在指定版面创建普通、校园活动、学术通知或投票主题。需要登录，并受到版面发帖、匿名和主题类型权限限制。",
        "tags": ["Board", "Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-postBoardBoardIdTopic",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-postBoardBoardIdTopic",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-postBoardBoardIdTopic": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "verified-write",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要发布主题的版面 ID。"
            },
            "required": true,
            "description": "要发布主题的版面 ID。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTopicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题创建成功，返回新主题 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumericIdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/tag": {
      "get": {
        "operationId": "getBoardBoardIdTag",
        "summary": "获取版面分层标签",
        "description": "返回版面可用于主题分类和筛选的标签，并按第一层、第二层分别分组。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询标签的版面 ID。"
            },
            "required": true,
            "description": "要查询标签的版面 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取按层级拆分的版面标签组",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/tag-v2": {
      "get": {
        "operationId": "getBoardBoardIdTagV2",
        "summary": "获取版面树状标签",
        "description": "以树状结构返回版面标签。layers 为 0、1 或 2，顶层标签通过 subTags 包含下一层标签。",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询标签树的版面 ID。"
            },
            "required": true,
            "description": "要查询标签树的版面 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取版面标签层数和标签树",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardTagData"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/events": {
      "get": {
        "operationId": "getBoardBoardIdEvents",
        "summary": "获取版面管理记录",
        "description": "分页返回版面内的管理操作记录，用于版务记录页面。需要登录。",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getBoardBoardIdEvents",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getBoardBoardIdEvents",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getBoardBoardIdEvents": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询管理记录的版面 ID。"
            },
            "required": true,
            "description": "要查询管理记录的版面 ID。"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number",
              "description": "管理记录的起始偏移量。"
            },
            "required": true,
            "description": "管理记录的起始偏移量。"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number",
              "description": "本次请求的管理记录数量。"
            },
            "required": true,
            "description": "本次请求的管理记录数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取版面管理记录分页结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardEventPage"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/big-paper": {
      "put": {
        "operationId": "putBoardBoardIdBigPaper",
        "summary": "更新版面大字报",
        "description": "更新版面页展示的大字报内容。需要登录和相应的版面管理权限。",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putBoardBoardIdBigPaper",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putBoardBoardIdBigPaper",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putBoardBoardIdBigPaper": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要更新大字报的版面 ID。"
            },
            "required": true,
            "description": "要更新大字报的版面 ID。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "新的版面大字报内容，使用 CC98 UBB 格式。"
                  }
                },
                "required": ["content"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "版面大字报更新成功"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/stop-post-user": {
      "get": {
        "operationId": "getBoardBoardIdStopPostUser",
        "summary": "获取版面禁言用户",
        "description": "分页返回指定版面的禁言用户、禁言期限和操作人。需要登录。",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getBoardBoardIdStopPostUser",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getBoardBoardIdStopPostUser",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getBoardBoardIdStopPostUser": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要查询禁言用户的版面 ID。"
            },
            "required": true,
            "description": "要查询禁言用户的版面 ID。"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number",
              "description": "禁言记录的起始偏移量。"
            },
            "required": true,
            "description": "禁言记录的起始偏移量。"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number",
              "description": "本次请求的禁言记录数量。"
            },
            "required": true,
            "description": "本次请求的禁言记录数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取版面禁言用户列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardMutedUser"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/stop-post-user/{userId}": {
      "delete": {
        "operationId": "deleteBoardBoardIdStopPostUserUserId",
        "summary": "解除用户版面禁言",
        "description": "解除指定用户在该版面的禁言状态。需要登录和相应的版面管理权限。",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteBoardBoardIdStopPostUserUserId",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteBoardBoardIdStopPostUserUserId",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteBoardBoardIdStopPostUserUserId": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number",
              "description": "要解除禁言的版面 ID。"
            },
            "required": true,
            "description": "要解除禁言的版面 ID。"
          },
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "number",
              "description": "要解除版面禁言的用户 ID。"
            },
            "required": true,
            "description": "要解除版面禁言的用户 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "用户的版面禁言已解除"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}": {
      "get": {
        "operationId": "getTopicTopicId",
        "summary": "获取主题详情",
        "description": "返回指定主题的概要和详情状态，包括作者、版面、回复统计、标签、置顶与精华状态、媒体摘要和当前用户相关权限。",
        "tags": ["Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicTopicId",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicTopicId",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicTopicId": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "主题的标题、作者、状态、统计和展示信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicId",
        "summary": "删除主题",
        "description": "删除指定主题及其回复。该操作需要主题管理权限。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteTopicTopicId",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteTopicTopicId",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteTopicTopicId": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题删除请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/post": {
      "get": {
        "operationId": "getTopicTopicIdPost",
        "summary": "获取主题回复",
        "description": "分页获取指定主题中的主楼和回复。from 按帖子记录位置计算。",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicTopicIdPost",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicTopicIdPost",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicTopicIdPost": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991,
              "description": "从第几条记录开始获取，0 表示第一条。"
            },
            "required": true,
            "description": "从第几条记录开始获取，0 表示第一条。"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "本次最多返回的记录数量。"
            },
            "required": true,
            "description": "本次最多返回的记录数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "按楼层顺序返回的主题帖子列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTopicTopicIdPost",
        "summary": "回复主题",
        "description": "在指定主题中发表回复，也可通过 parentId 回复某一楼层。",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-postTopicTopicIdPost",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-postTopicTopicIdPost",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-postTopicTopicIdPost": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "新回复的帖子 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumericIdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/hot-post": {
      "get": {
        "operationId": "getTopicTopicIdHotPost",
        "summary": "获取主题热门回复",
        "description": "返回指定主题中由服务端判定为热门的回复。",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicTopicIdHotPost",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicTopicIdHotPost",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicTopicIdHotPost": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "主题中的热门帖子列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/vote": {
      "get": {
        "operationId": "getTopicTopicIdVote",
        "summary": "获取主题投票信息",
        "description": "返回投票主题的选项、票数、有效期以及当前用户能否投票。投票设置可能限制结果可见性。",
        "tags": ["Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicTopicIdVote",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicTopicIdVote",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicTopicIdVote": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "投票主题 ID。"
            },
            "required": true,
            "description": "投票主题 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "投票选项、结果、截止时间和当前用户投票状态",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteInfo"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTopicTopicIdVote",
        "summary": "提交主题投票",
        "description": "为指定投票主题提交当前用户选择的一个或多个选项。",
        "tags": ["Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-postTopicTopicIdVote",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-postTopicTopicIdVote",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-postTopicTopicIdVote": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "投票主题 ID。"
            },
            "required": true,
            "description": "投票主题 ID。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitVoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "投票提交请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/isfavorite": {
      "get": {
        "operationId": "getTopicTopicIdIsfavorite",
        "summary": "查询主题收藏状态",
        "description": "查询指定主题的收藏状态。携带登录凭据时返回当前用户的真实状态。",
        "tags": ["Topic", "Me"],
        "security": [],
        "x-cc98-risk": "account-scoped",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "当前用户是否已收藏该主题",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "description": "当前用户是否已收藏该主题。"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/event": {
      "get": {
        "operationId": "getTopicTopicIdEvent",
        "summary": "获取主题操作记录",
        "description": "分页返回指定主题的管理操作记录。具体可见内容由主题状态和用户权限决定。",
        "tags": ["Topic", "Moderation"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991,
              "description": "从第几条记录开始获取，0 表示第一条。"
            },
            "required": true,
            "description": "从第几条记录开始获取，0 表示第一条。"
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "本次最多返回的记录数量。"
            },
            "required": true,
            "description": "本次最多返回的记录数量。"
          }
        ],
        "responses": {
          "200": {
            "description": "主题管理操作记录的分页结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicEventPage"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/look-ip": {
      "get": {
        "operationId": "getTopicTopicIdLookIp",
        "summary": "按 IP 查看主题回复",
        "description": "按发布 IP 对指定主题中的回复进行分组。该接口需要相应的版务权限。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicTopicIdLookIp",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicTopicIdLookIp",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicTopicIdLookIp": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "responses": {
          "200": {
            "description": "按 IP 地址分组的主题回复",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopicIpGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/top": {
      "put": {
        "operationId": "putTopicTopicIdTop",
        "summary": "设置主题置顶",
        "description": "将指定主题设置为版面置顶或全站置顶，并可指定持续天数和操作原因。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdTop",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdTop",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdTop": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicTopRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题置顶设置请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdTop",
        "summary": "取消主题置顶",
        "description": "移除指定主题的置顶状态。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteTopicTopicIdTop",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteTopicTopicIdTop",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteTopicTopicIdTop": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "取消主题置顶请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/lock": {
      "put": {
        "operationId": "putTopicTopicIdLock",
        "summary": "锁定主题",
        "description": "锁定指定主题，使其不能继续回复，并可指定锁定天数和原因。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdLock",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdLock",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdLock": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicLockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题锁定请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdLock",
        "summary": "解除主题锁定",
        "description": "解除指定主题的锁定状态，允许用户继续回复。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteTopicTopicIdLock",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteTopicTopicIdLock",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteTopicTopicIdLock": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "解除主题锁定请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/best": {
      "put": {
        "operationId": "putTopicTopicIdBest",
        "summary": "将主题设为精华",
        "description": "将指定主题标记为精华主题。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdBest",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdBest",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdBest": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题加精请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdBest",
        "summary": "取消主题精华",
        "description": "移除指定主题的精华标记。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteTopicTopicIdBest",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteTopicTopicIdBest",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteTopicTopicIdBest": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "取消主题精华请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/not-hot": {
      "put": {
        "operationId": "putTopicTopicIdNotHot",
        "summary": "禁止主题进入热门列表",
        "description": "设置指定主题不参与热门主题列表的计算和展示。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdNotHot",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdNotHot",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdNotHot": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "热门列表限制请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdNotHot",
        "summary": "恢复主题进入热门列表",
        "description": "取消指定主题的热门列表限制，使其重新参与热门主题计算。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-deleteTopicTopicIdNotHot",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-deleteTopicTopicIdNotHot",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-deleteTopicTopicIdNotHot": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "取消热门列表限制请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/highlight": {
      "put": {
        "operationId": "putTopicTopicIdHighlight",
        "summary": "设置主题标题高亮",
        "description": "设置指定主题标题的粗体、斜体和颜色样式，并可指定持续天数。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdHighlight",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdHighlight",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdHighlight": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicHighlightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题高亮设置请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/up": {
      "put": {
        "operationId": "putTopicTopicIdUp",
        "summary": "提升主题排序位置",
        "description": "提升指定主题在版面主题列表中的排序位置。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdUp",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdUp",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdUp": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题提升请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/moveto/{boardId}": {
      "put": {
        "operationId": "putTopicTopicIdMovetoBoardId",
        "summary": "移动主题到其他版面",
        "description": "将指定主题及其回复移动到目标版面。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicTopicIdMovetoBoardId",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicTopicIdMovetoBoardId",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicTopicIdMovetoBoardId": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "主题 ID。"
            },
            "required": true,
            "description": "主题 ID。"
          },
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "版面 ID。"
            },
            "required": true,
            "description": "版面 ID。"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "主题移动请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/multi-lock": {
      "put": {
        "operationId": "putTopicMultiLock",
        "summary": "批量锁定主题",
        "description": "通过重复的 id 查询参数一次锁定多个主题。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicMultiLock",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicMultiLock",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicMultiLock": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "description": "需要锁定的主题 ID，可重复传入该查询参数。"
            },
            "required": true,
            "description": "需要锁定的主题 ID，可重复传入该查询参数。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicLockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "批量锁定主题请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/multi-delete": {
      "put": {
        "operationId": "putTopicMultiDelete",
        "summary": "批量删除主题",
        "description": "通过重复的 id 查询参数一次删除多个主题及其回复。",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-putTopicMultiDelete",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-putTopicMultiDelete",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-putTopicMultiDelete": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "description": "需要删除的主题 ID，可重复传入该查询参数。"
            },
            "required": true,
            "description": "需要删除的主题 ID，可重复传入该查询参数。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "批量删除主题请求已处理"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/toptopics": {
      "get": {
        "operationId": "getTopicToptopics",
        "summary": "获取版面置顶主题",
        "description": "返回指定版面的置顶主题，用于与普通主题列表分开展示。",
        "tags": ["Topic"],
        "security": [
          {
            "CC98_ACCESS_TOKEN": [],
            "x-apifox": {
              "schemeGroups": [
                {
                  "id": "cc98AccessToken-getTopicToptopics",
                  "schemeIds": ["CC98_ACCESS_TOKEN"]
                }
              ],
              "required": true,
              "use": {
                "id": "cc98AccessToken-getTopicToptopics",
                "configs": {
                  "CC98_ACCESS_TOKEN": {
                    "authConfigs": {
                      "x-apifox": {
                        "token": "{{CC98_ACCESS_TOKEN}}"
                      }
                    }
                  }
                }
              },
              "scopes": {
                "cc98AccessToken-getTopicToptopics": {
                  "CC98_ACCESS_TOKEN": []
                }
              }
            }
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "boardid",
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991,
              "description": "版面 ID。"
            },
            "required": true,
[...]
