{
  "openapi": "3.1.0",
  "info": {
    "title": "CC98 API",
    "version": "0.1.0-alpha.0",
    "description": "根据 CC98 前端调用与真实接口响应维护的公共 API 契约。",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "CC98 前端维护者",
      "url": "https://github.com/shellRaining/cc98/issues"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.cc98.org",
      "description": "CC98 正式 API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/config/global": {
      "get": {
        "operationId": "getConfigGlobal",
        "summary": "获取论坛全局配置",
        "description": "返回论坛运行状态、全站统计、公告、签到和生日活动等全局配置。后端可能省略部分字段或返回额外字段。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取论坛全局运行配置与统计信息",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/announcement": {
      "put": {
        "operationId": "putConfigGlobalAnnouncement",
        "summary": "更新全站公告",
        "description": "更新 `/config/global` 和首页聚合数据中展示的全站公告。需要站点管理权限。",
        "tags": ["Config", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "announcement": {
                    "type": "string",
                    "description": "新的全站公告内容，使用 CC98 UBB 格式。"
                  }
                },
                "required": ["announcement"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "公告更新成功"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/advertisement": {
      "get": {
        "operationId": "getConfigGlobalAdvertisement",
        "summary": "获取首页 Banner",
        "description": "返回当前访问者可见的首页 Banner。服务端根据启用状态、过期时间和登录状态筛选配置项。",
        "tags": ["Config", "Index"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取当前可展示的首页 Banner 列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/advertisement/all": {
      "get": {
        "operationId": "getConfigGlobalAdvertisementAll",
        "summary": "获取全部首页 Banner 配置",
        "description": "供站点管理页面读取全部首页 Banner 配置，包括已停用、过期或仅对特定登录状态可见的记录。",
        "tags": ["Config", "Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部首页 Banner 配置",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/special-offer/all": {
      "get": {
        "operationId": "getConfigGlobalSpecialOfferAll",
        "summary": "获取全部福利优惠配置",
        "description": "供站点管理页面读取全部福利优惠配置，包括已停用、过期或仅对特定登录状态可见的记录。",
        "tags": ["Config", "Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部福利优惠配置",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/alltag": {
      "get": {
        "operationId": "getConfigGlobalAlltag",
        "summary": "获取全部全局标签",
        "description": "返回主题分类和筛选使用的全局标签字典。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全局标签 ID 与名称列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/now": {
      "get": {
        "operationId": "getConfigNow",
        "summary": "获取服务器时间",
        "description": "返回论坛服务器当前时间。签到和补签页面使用该时间确定当前日期，避免客户端时钟或时区差异影响月份和日期判断。",
        "tags": ["Config"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取服务器当前时间",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerTimeResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/index": {
      "get": {
        "operationId": "getConfigIndex",
        "summary": "Get homepage aggregate data",
        "tags": ["Index"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "Homepage data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/index/update": {
      "put": {
        "operationId": "putConfigIndexUpdate",
        "summary": "Update or clear homepage cache",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/{columnKind}/all": {
      "get": {
        "operationId": "getIndexColumnColumnKindAll",
        "summary": "Get all items in a homepage column",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "columnKind",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "const": "recommandationreading"
                },
                {
                  "type": "string",
                  "const": "recommandationfunction"
                },
                {
                  "type": "string",
                  "const": "schoolnews"
                }
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Column items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IndexColumn"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/": {
      "post": {
        "operationId": "postIndexColumn",
        "summary": "Create homepage column item",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexColumn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/index/column/{id}": {
      "put": {
        "operationId": "putIndexColumnId",
        "summary": "Update homepage column item",
        "tags": ["Index", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IndexColumn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/config/global/all-user-title": {
      "get": {
        "operationId": "getConfigGlobalAllUserTitle",
        "summary": "获取全部用户头衔",
        "description": "返回用户头衔定义，用于匹配用户资料中的 displayTitleId 和 userTitleIds。",
        "tags": ["Config", "User"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "成功获取全部用户头衔定义",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayTitle"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/all": {
      "get": {
        "operationId": "getBoardAll",
        "summary": "Get all board groups",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "responses": {
          "200": {
            "description": "Board groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/": {
      "get": {
        "operationId": "getBoard",
        "summary": "Get boards by repeated id query",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Board list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/search": {
      "get": {
        "operationId": "getBoardSearch",
        "summary": "Search boards",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Matching boards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Board"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}": {
      "get": {
        "operationId": "getBoardBoardId",
        "summary": "Get board details",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Board details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/topic": {
      "get": {
        "operationId": "getBoardBoardIdTopic",
        "summary": "Get topics in a board",
        "tags": ["Board", "Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postBoardBoardIdTopic",
        "summary": "Create topic in a board",
        "tags": ["Board", "Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "verified-write",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTopicRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "新主题 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumericIdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/tag": {
      "get": {
        "operationId": "getBoardBoardIdTag",
        "summary": "Get board tags",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Board tag groups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/tag-v2": {
      "get": {
        "operationId": "getBoardBoardIdTagV2",
        "summary": "Get board tags v2",
        "description": "Exact schema is not clear from frontend source.",
        "tags": ["Board"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Board tag data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardTagData"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/events": {
      "get": {
        "operationId": "getBoardBoardIdEvents",
        "summary": "Get board event records",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Board events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoardEventPage"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/big-paper": {
      "put": {
        "operationId": "putBoardBoardIdBigPaper",
        "summary": "Update board big-paper announcement",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                },
                "required": ["content"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/stop-post-user": {
      "get": {
        "operationId": "getBoardBoardIdStopPostUser",
        "summary": "Get board muted users",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Muted user list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BoardMutedUser"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/board/{boardId}/stop-post-user/{userId}": {
      "delete": {
        "operationId": "deleteBoardBoardIdStopPostUserUserId",
        "summary": "Cancel board mute for a user",
        "tags": ["Board", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}": {
      "get": {
        "operationId": "getTopicTopicId",
        "summary": "Get topic details",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topic details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Topic"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicId",
        "summary": "Delete topic",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/post": {
      "get": {
        "operationId": "getTopicTopicIdPost",
        "summary": "Get posts in a topic",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-write",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Post list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTopicTopicIdPost",
        "summary": "Reply to a topic",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "verified-write",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "新回复 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumericIdResponse"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/hot-post": {
      "get": {
        "operationId": "getTopicTopicIdHotPost",
        "summary": "Get hot posts in a topic",
        "tags": ["Topic", "Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Hot posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/vote": {
      "get": {
        "operationId": "getTopicTopicIdVote",
        "summary": "Get topic vote info",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Vote info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoteInfo"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postTopicTopicIdVote",
        "summary": "Submit vote",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitVoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/isfavorite": {
      "get": {
        "operationId": "getTopicTopicIdIsfavorite",
        "summary": "Check whether current user has favorited a topic",
        "tags": ["Topic", "Me"],
        "security": [],
        "x-cc98-risk": "account-scoped",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/event": {
      "get": {
        "operationId": "getTopicTopicIdEvent",
        "summary": "Get topic event records",
        "tags": ["Topic", "Moderation"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topic events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicEventPage"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/look-ip": {
      "get": {
        "operationId": "getTopicTopicIdLookIp",
        "summary": "View IP groups for a topic",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "IP grouped posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TopicIpGroup"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/top": {
      "put": {
        "operationId": "putTopicTopicIdTop",
        "summary": "Set topic top state",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicTopRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdTop",
        "summary": "Remove topic top state",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/lock": {
      "put": {
        "operationId": "putTopicTopicIdLock",
        "summary": "Lock topic",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  },
                  "value": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdLock",
        "summary": "Unlock topic",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/best": {
      "put": {
        "operationId": "putTopicTopicIdBest",
        "summary": "Mark topic as best",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdBest",
        "summary": "Remove best topic mark",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/not-hot": {
      "put": {
        "operationId": "putTopicTopicIdNotHot",
        "summary": "Disable topic from hot list",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteTopicTopicIdNotHot",
        "summary": "Enable topic for hot list",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/highlight": {
      "put": {
        "operationId": "putTopicTopicIdHighlight",
        "summary": "Set topic highlight style",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopicHighlightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/up": {
      "put": {
        "operationId": "putTopicTopicIdUp",
        "summary": "Bump topic",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/{topicId}/moveto/{boardId}": {
      "put": {
        "operationId": "putTopicTopicIdMovetoBoardId",
        "summary": "Move topic to another board",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "topicId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/multi-lock": {
      "put": {
        "operationId": "putTopicMultiLock",
        "summary": "Lock multiple topics",
        "description": "The target topics are passed as query string generated by the frontend; exact parameter names are inferred as backend-specific.",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "target",
            "schema": {
              "type": "string",
              "description": "Placeholder for one or more target topic query parameters."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  },
                  "value": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/multi-delete": {
      "put": {
        "operationId": "putTopicMultiDelete",
        "summary": "Delete multiple topics",
        "description": "The target topics are passed as query string generated by the frontend; exact parameter names are inferred as backend-specific.",
        "tags": ["Topic", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "target",
            "schema": {
              "type": "string",
              "description": "Placeholder for one or more target topic query parameters."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/toptopics": {
      "get": {
        "operationId": "getTopicToptopics",
        "summary": "Get top topics in a board",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "boardid",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Top topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/best/board/{boardId}": {
      "get": {
        "operationId": "getTopicBestBoardBoardId",
        "summary": "Get best topics in a board",
        "tags": ["Topic", "Board"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Paged topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicPagedResult"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/save/board/{boardId}": {
      "get": {
        "operationId": "getTopicSaveBoardBoardId",
        "summary": "Get saved topics in a board",
        "tags": ["Topic", "Board"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Paged topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicPagedResult"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/search": {
      "get": {
        "operationId": "getTopicSearch",
        "summary": "Search topics globally",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topic search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/search/board/{boardId}": {
      "get": {
        "operationId": "getTopicSearchBoardBoardId",
        "summary": "Search topics in a board",
        "tags": ["Topic", "Board"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "keyword",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topic search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/search/board/{boardId}/tag": {
      "get": {
        "operationId": "getTopicSearchBoardBoardIdTag",
        "summary": "Search board topics by tags",
        "tags": ["Topic", "Board"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "tag1",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "tag2",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Paged topics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopicPagedResult"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/new": {
      "get": {
        "operationId": "getTopicNew",
        "summary": "Get newest topics",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "New topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/new-media": {
      "get": {
        "operationId": "getTopicNewMedia",
        "summary": "Get newest media topics",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "New media topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/random-recommendation": {
      "get": {
        "operationId": "getTopicRandomRecommendation",
        "summary": "Get random recommended topics",
        "tags": ["Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Recommended topic list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RecommendedTopic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/random-recent": {
      "get": {
        "operationId": "getTopicRandomRecent",
        "summary": "Get random recent topics",
        "tags": ["Topic"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Topic list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/hot-{type}": {
      "get": {
        "operationId": "getTopicHotType",
        "summary": "Get hot topics by type",
        "tags": ["Topic"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "const": "weekly"
                },
                {
                  "type": "string",
                  "const": "monthly"
                },
                {
                  "type": "string",
                  "const": "history"
                }
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Hot topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/basic": {
      "get": {
        "operationId": "getTopicBasic",
        "summary": "Get basic topic info by repeated id query",
        "tags": ["Topic"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Basic topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/me/favorite": {
      "get": {
        "operationId": "getTopicMeFavorite",
        "summary": "Get current user's favorite topics",
        "tags": ["Topic", "Me"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "groupid",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/topic/me/search-favorite": {
      "get": {
        "operationId": "getTopicMeSearchFavorite",
        "summary": "Search current user's favorite topics",
        "tags": ["Topic", "Me"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-authenticated",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Favorite topic search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}": {
      "put": {
        "operationId": "putPostPostId",
        "summary": "Edit post",
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePostPostId",
        "summary": "Delete post",
        "tags": ["Post", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}/original": {
      "get": {
        "operationId": "getPostPostIdOriginal",
        "summary": "Get original post content for editing",
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "permission-denied",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Original post data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}/like": {
      "get": {
        "operationId": "getPostPostIdLike",
        "summary": "Get post like state and counts",
        "tags": ["Post"],
        "security": [],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Like state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Like"
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putPostPostIdLike",
        "summary": "Like or dislike a post",
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "string",
                    "const": "1"
                  },
                  {
                    "type": "string",
                    "const": "2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/basic": {
      "get": {
        "operationId": "getPostBasic",
        "summary": "Get basic post info by repeated id query",
        "description": "旧前端曾使用该读取接口；2026-07-11 实测返回 405，当前路由仅允许 PUT 和 DELETE。",
        "deprecated": true,
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "array",
              "items": {
                "type": "number"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Basic posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/topic/user": {
      "get": {
        "operationId": "getPostTopicUser",
        "summary": "Get one user's posts in a topic",
        "tags": ["Post", "Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "topicid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "userid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/topic/specific-user": {
      "get": {
        "operationId": "getPostTopicSpecificUser",
        "summary": "Trace replies related to a specific post user",
        "tags": ["Post", "Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "topicid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "postid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/topic/anonymous/user": {
      "get": {
        "operationId": "getPostTopicAnonymousUser",
        "summary": "Trace anonymous replies related to a specific post",
        "tags": ["Post", "Topic"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "read-only",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "query",
            "name": "topicid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "postid",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "size",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Post"
                  }
                }
              }
            }
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}/rating": {
      "put": {
        "operationId": "putPostPostIdRating",
        "summary": "Rate a post, legacy version",
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "anyOf": [
                      {
                        "type": "number",
                        "const": -1
                      },
                      {
                        "type": "number",
                        "const": 1
                      }
                    ]
                  },
                  "reason": {
                    "type": "string"
                  }
                },
                "required": ["value", "reason"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}/rating-v2": {
      "put": {
        "operationId": "putPostPostIdRatingV2",
        "summary": "Rate a post, v2 reason based version",
        "tags": ["Post"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "write",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostRatingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "API 错误码",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorCode"
                }
              }
            }
          }
        }
      }
    },
    "/post/{postId}/operation": {
      "post": {
        "operationId": "postPostPostIdOperation",
        "summary": "Perform post management operation",
        "description": "Used for wealth, prestige, and board mute operations. Exact enum values are inferred.",
        "tags": ["Post", "Moderation"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-cc98-risk": "destructive",
        "x-cc98-verification": "unknown",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "parameters": [
          {
            "in": "path",
            "name": "postId",
            "schema": {
              "type": "number"
            },
            "required": true
[...]
