{
  "openapi": "3.1.0",
  "info": {
    "title": "CC98 OpenID API",
    "version": "0.1.0-alpha.0",
    "description": "供 Apifox 等工具独立导入的 CC98 登录与 Token 刷新契约。",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "contact": {
      "name": "CC98 前端维护者",
      "url": "https://github.com/shellRaining/cc98/issues"
    }
  },
  "servers": [
    {
      "url": "https://openid.cc98.org",
      "description": "CC98 OpenID 服务"
    }
  ],
  "security": [],
  "paths": {
    "/connect/token": {
      "post": {
        "operationId": "postConnectToken",
        "summary": "申请或刷新访问令牌",
        "description": "使用 CC98 用户名和密码申请 Access Token，或使用 Refresh Token 换取一组新 Token。该接口属于独立的 OpenID 服务，不使用论坛 API 的 Bearer 鉴权。",
        "tags": ["OpenID"],
        "security": [],
        "x-cc98-risk": "write",
        "x-cc98-verification": "verified-anonymous",
        "x-cc98-source": ["legacy-openapi", "live-probe"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenID 服务签发的 Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Token 请求参数或授权凭据无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequest": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/PasswordTokenRequest"
          },
          {
            "$ref": "#/components/schemas/RefreshTokenRequest"
          }
        ],
        "description": "OpenID Token 请求；由 grant_type 决定表单结构。",
        "type": "object",
        "discriminator": {
          "propertyName": "grant_type",
          "mapping": {
            "password": "#/components/schemas/PasswordTokenRequest",
            "refresh_token": "#/components/schemas/RefreshTokenRequest"
          }
        }
      },
      "PasswordTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "minLength": 1,
            "description": "OpenID 客户端 ID。"
          },
          "client_secret": {
            "type": "string",
            "minLength": 1,
            "description": "OpenID 客户端密钥。",
            "format": "password",
            "writeOnly": true
          },
          "grant_type": {
            "type": "string",
            "const": "password",
            "description": "授权模式，密码登录时固定为 password。"
          },
          "username": {
            "type": "string",
            "minLength": 1,
            "description": "CC98 用户名。"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "description": "CC98 账号密码。",
            "format": "password",
            "writeOnly": true
          },
          "scope": {
            "type": "string",
            "minLength": 1,
            "description": "请求的授权范围，多个 scope 使用空格分隔。"
          }
        },
        "required": ["client_id", "client_secret", "grant_type", "username", "password", "scope"],
        "description": "使用用户名和密码申请 Token 的表单。"
      },
      "RefreshTokenRequest": {
        "type": "object",
        "properties": {
          "client_id": {
            "type": "string",
            "minLength": 1,
            "description": "OpenID 客户端 ID。"
          },
          "client_secret": {
            "type": "string",
            "minLength": 1,
            "description": "OpenID 客户端密钥。",
            "format": "password",
            "writeOnly": true
          },
          "grant_type": {
            "type": "string",
            "const": "refresh_token",
            "description": "授权模式，刷新 Token 时固定为 refresh_token。"
          },
          "refresh_token": {
            "type": "string",
            "minLength": 1,
            "description": "上一次授权获得的 Refresh Token。",
            "format": "password",
            "writeOnly": true
          }
        },
        "required": ["client_id", "client_secret", "grant_type", "refresh_token"],
        "description": "使用 Refresh Token 换取新 Token 的表单。"
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "访问 CC98 API 时使用的 Access Token。"
          },
          "expires_in": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991,
            "description": "Access Token 的有效期，单位为秒。"
          },
          "refresh_token": {
            "type": "string",
            "description": "用于换取新 Token 的 Refresh Token。"
          },
          "token_type": {
            "type": "string",
            "description": "Token 类型，当前返回 Bearer。"
          },
          "scope": {
            "description": "服务端实际授予的授权范围。",
            "type": "string"
          },
          "id_token": {
            "description": "OpenID Connect 身份令牌；刷新 Token 时可能返回。",
            "type": "string"
          }
        },
        "required": ["access_token", "expires_in", "refresh_token", "token_type"],
        "additionalProperties": {},
        "description": "OpenID 服务签发的 Token。"
      },
      "TokenErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "OAuth 2.0 错误代码。"
          },
          "error_description": {
            "description": "可读的错误原因说明。",
            "type": "string"
          },
          "error_uri": {
            "description": "错误说明文档地址。",
            "type": "string"
          }
        },
        "required": ["error"],
        "additionalProperties": {},
        "description": "OpenID Token 请求失败时的 OAuth 错误。"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
